@keyframes showForm{
    0%{
        display: block;
        transform: scale(0);
    }
    100%{
        display: block;
        transform: scale(1);
    }
}
@keyframes showMessageAnimation{
    0%{
        left: -100%;
    }
    100%{
        left: 10%;
    }
}

@keyframes displayFormAddTables{
    0%{
        bottom: -10%;
    }
    100%{
        bottom:0;
    }
}