@font-face {
    font-family: "ShadowIntoLight";
    src: url(../fonts/ShadowsIntoLight.ttf);
}
@font-face {
    font-family: "arabella";
    src: url(../fonts/arabella_regular.ttf);
}
@font-face {
    font-family: "Kinder";
    src:url(../fonts/kindergarten.ttf);
}