main#UserWaiter{
    display: grid;
    grid-template-areas: 'list';
    grid-template-rows: 100vh;
}
list-tables{
    grid-area: list;
    background: #e7e7e5;
    width: auto;
    height: auto;
    margin: 4%;
    border: 10px solid #6d80be;
    position: relative;
}
list-tables > div{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-auto-rows: 20%;
    overflow: auto;
    width: 100%;
    height: 100%;
}
list-tables > i.fa-plus{
    position: absolute;
    bottom: -5%;
    right: -2%;
    font-size: 3em;
    color: white;
    background: rgb(0, 205, 0);
    padding: 1%;
    border-radius: 100px;
    transition: .3s;
    cursor: pointer;
}
list-tables > i.fa-plus:hover{
    transform: scale(1.2);
}
/*Each table*/
    data-table{
        background: url(../img/mesa.png) no-repeat;
        background-size: 60%;
        background-position: center center;
        cursor: pointer;
        transition: .3s;
        position: relative;
    }
    data-table[busy='true']{
        filter: hue-rotate(120deg);
    }
    data-table[busy='true'] i{
        filter: hue-rotate(-120deg);
    }
    data-table:hover{
        transform:scale(1.1);
    }
    data-table i{
        font-size: 3em;
        color: red;
        right: 0;
        top: 0;
        position: absolute;
        display: none!important;
    }
    data-table:hover i{
        display: block!important;
    }

/*Form*/
#UserWaiter form{
    position: fixed;
    height: auto;
    background: rgba(0, 171, 255, 0.5);
    padding: 2%;
    bottom: 0;
    width: 100%;
    color:white;
    display: none;
    animation: displayFormAddTables;
    animation-duration: 1s;
}
#UserWaiter form input{
    padding: .7%;
    border-radius: 10px;
    background: white;
    border-radius: 10px;
    margin: 0 1%;
}
#UserWaiter form input[type='submit']{
    background: rgb(0, 171, 255);
    color: wheat;
    cursor: pointer;
    padding: 1% 5%;
}
@media (max-width:600px){
    list-tables > div{
        grid-template-columns: repeat(3,auto);
    }
    list-tables {
        height: 75%;
    }
    #UserWaiter form input {
        padding: 2%;
        margin: 1%;
    }
    #UserWaiter form label{
        display: block;
    }
}